<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="IoTHubConnectionString" value ="HostName=MTConnect-Demo.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=RKTQFIEH8n42o8/uoEj0k00OP7uuQFPXY5SqpNlUneA="/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=portalvhdsnbr0hnfxjprmh;AccountKey=I1QkPMeStfcf+QvnIJLRqOSEEDR8+mE+KhDrrrMF/Sx2lqbScSfFrl1LkqWV6RaX/9BZBZ9QzVc9e/IAtPByjQ=="/>
     <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=kmtmtconnectdata;AccountKey=AgysU9DEEcVWY+h3Sq9QO4kkufEec+KLiVmS2ZptdpgjUieKKMbfu9zkF9kmqCDXtFWorKwyGXt2lVLtwV8ykQ==" />-->
    <!--<add key="IoTHubConnectionString" value="HostName=KMT-NOVO-IOT-HUB.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=KsU2jnPEqZSYIbVqO9IN9C3UNl4UUNsXP+U8av8nosY=" />-->
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=aismtconnect;AccountKey=RdEw9jVvMJ5/qfQqh6EYnWs0LpeAzoj+Wfv7sDkETosZrH+QBMKIKwe2J2DHvWkZf9j7eDzyo7Q9AVMq2WpuJQ==" />
    <add key="IoTHubConnectionString" value="HostName=AISMTCONNECT.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=3YKNIMTbLAgaUym7MaRsqoTGwyibs8aESqtPtQqc7uw=" />-->
    <add key="BaseURL" value="http://mtconnect.mazakcorp.com:5612/" />
    <add key="DeviceToRead" value="MFMS7-MC2" />
    <add key="SampleInterval" value="20000" />
    <add key="RecordCount" value="1500" />
    <add key="ErrorLogPath" value="c:/KMDataCollectorErrorLog/" />
  </appSettings>
</configuration>
